<!-- 
        <table class="table table-hover" id="details">
          <thead class="thead-dark">
            <tr>
              <th>Satellite ID</th>
              <th>Name</th>
    
            </tr>
          </thead>
          <% for (var i=0; i < satellites.length ; i++){ 

            <tr>

              <td>
                <%= satellites[i].satelliteId %>
              </td>
              <td>
                <%= satellites[i].name %>
              </td>
          
              <td>
                <input type="checkbox" id="select" name="selected_to_view" value=<%=i %> >
              </td>

            </tr>

            <% } %>


        </table> -->