<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="style.css">

  <title>Satellite tracker</title>
</head>

<body>
  <div class="container">

    <form action="/" class="satellite" method="post">

      <h2>Satellite Tracker<small>ATLAS</small></h2>

      <div class="group">
        <input type="text" name="satellite_code" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Satellite ID</label>
      </div>

      <!-- <div class="group">
        <input type="text" name="satellite_name">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Satellite Name</label>
      </div> -->


      <button type="submit" name="submit" value="satellite">Submit</button>


      


        

    </form>


  </div>
</body>

</html>